header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.08em 1.8em;
  text-align: center;
}

header a {
  color: rgb(32, 33, 36);
  text-decoration: none;
  font-size: 0.87rem;
}

header a:hover {
  text-decoration: underline;
}

.about-link {
  margin-left: 0.6em;
  margin-right: 1.19em;
}

.header-right-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-right-section a {
  font-size: 0.82rem;
}

.gmail-link {
  margin-right: 0.29em;
}

.images-link {
  margin-right: 0.5em;
  width: 50px;
}

.apps-button-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  padding: 0.6em;
  border-radius: 50%;
}

.apps-button-link:hover {
  background-color: rgb(243, 243, 243);
}

.apps-button {
  color: rgb(95, 99, 104);
  width: 24px;
  height: 24px;
}

.login-button {
  background-color: rgb(26, 115, 232);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.65em 2em;
}

.login-button:hover {
  background-color: rgb(46, 125, 229);
  box-shadow: 0 1px 2px rgb(46, 125, 229);
}

@media all and (min-width: 820px) {
  .login-button {
    padding: 0.65em 2.6em;
  }
}

/* ==============================
   Header left section for mobile 
   ============================== */

.hamburger-menu-icon-container,
.all-link-mobile, .images-link-mobile {
  font-size: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border: none;
}

.hamburger-menu-icon {
  height: 0;
  width: 0;
  opacity: 0;
  fill: gray;
}

@media all and (max-width: 530px) {
  header {
    padding-left: 0.6em;
  }

  .about-link, .store-link, .gmail-link, .images-link {
    font-size: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }

  .header-left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hamburger-menu-icon-container,
  .all-link-mobile, .images-link-mobile {
    height: auto;
    width: auto;
    opacity: 1;
    font-size: 0.74rem;
    margin-right: 5px;
  }

  .hamburger-menu-icon {
    height: 19px;
    width: auto;
    opacity: 1;
    padding: 10px 12px;
  }

  .all-link-mobile, .images-link-mobile {
    padding: 1.2em 0.8em;
    font-weight: bold;
  }

  .all-link-mobile:hover,
  .images-link-mobile:hover {
    text-decoration: none;
  }

  .all-link-mobile {
    color: rgb(46, 125, 229);
    border-bottom: 2px solid rgb(46, 125, 229);
  }

  .images-link-mobile {
    color: rgb(121, 121, 121);
    border-bottom: 2px solid white;
  }
}